.shipments-header{
    color: #469FCE;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.shipments-header h1{
    font-size: 28px;
}

.table-container{
    text-align:center;
    height: 506px;
}

.table {
    display: inline-table;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #469FCE;
    border-radius: 10px;
    overflow: hidden;
}

.table th{
    color: #E1EFFE;
    font-size: 24px;
    background-color: #469FCE;
    width: 373px;
    text-align: center;
    font-weight: 700;
    line-height: 28.98px;
}

.table tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.table tbody tr:nth-child(even) {
    background-color: #D1ECFB;
}

.table td {
    color: #469FCE;
    font-weight: 400;
    height: 55px;
    padding: 10px;
    vertical-align: middle;
    font-size: 20px;
    border: none; 
    background-color: transparent;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 72px;
    padding-top: 30px;
}

.pagination button {
    background-color: #469FCE;
    color: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 23px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 115px;
}

.pagination button:hover {
    background-color: #D1ECFB;
    border-color: #D1ECFB;
}

.pagination button:disabled {
    background-color: #D1ECFB;
    border-color: #D1ECFB;
    color: #FFFFFF;
    cursor: not-allowed;
}

.pagination span {
    color: #469FCE;
    padding: 15px;
}
